@model ErrorViewModel
@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработката на заявката Ви.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Заявка:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим на разработка:</h3>
<p>
    Прехвърлянето към <strong>среда за развитие</strong> може да Ви покаже по- детайлна информация относно възникналата грешка.
</p>
<p>
    <strong>Средата за разработка не трябва да бъде активирана за внедрени приложения.</strong>
    Това може да доведе до показване на чувствителна информация от крайните потребители.
    За локално отстраняване на грешки активирайте <strong> средата за разработка</strong>, като зададете променливата на средата <strong> ASPNETCORE_ENVIRONMENT </strong> на <strong> Development </strong>
    и рестартиране на приложението.
</p>
