@{
    ViewData["Title"] = "Начална страница";
}

<section class="hero">
    <div class="hero-inner">
        <h1>Добре дошли в</h1>
        <h2>Мениджър за Хотелски Резервации</h2>
        <div class="hero-btn">
            <a asp-action="Login" asp-controller="Users" class="mainButton">Напред</a>
        </div>
    </div>
</section>